<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neusoft.neespad"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.neusoft.neespad"></instrumentation>
    <application
        android:name="com.neusoft.neespad.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"  
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner"/>
        <activity
            android:name="com.neusoft.neespad.activity.SignCustomActivity" 
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.neusoft.neespad.activity.BigSurfaceActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
           >
        </activity>
         <activity android:name="com.neusoft.neespad.activity.SmallSurfaceActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
           >
        </activity>
        <activity android:name="com.neusoft.neespad.activity.TakePhotoActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
           >
        </activity>
        
        <!--<activity android:name="com.neusoft.neespad.activity.SignActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
        </activity>-->
        
        <!--<activity android:name="com.neusoft.neespad.activity.SignCustomActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
        </activity>-->
        
       <activity android:name="com.neusoft.neespad.activity.BrowseProtocalActivity"
             android:screenOrientation="landscape"
             android:configChanges="orientation|keyboardHidden|screenSize"
             android:launchMode="singleTask"
             android:finishOnTaskLaunch="true"
             >
        </activity>
        
        <!-- 拍摄营业执照 -->
        <activity android:name="com.neusoft.neespad.activity.TakeBusyLicActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
        </activity>
        
        <!-- 拍摄身份证 -->
        <activity android:name="com.neusoft.neespad.activity.TakeIDCardActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
        </activity>
        <!-- 拍摄身份证已弃用 -->
        <activity android:name="com.neusoft.neespad.activity.TakeCardActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
        </activity>
        <!-- 拍摄营业执照   -->
        <activity android:name="com.neusoft.neespad.activity.TakeBusyCardActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true">
        </activity>
        
        <service android:name="com.neusoft.neespad.service.MainService" android:exported="false">
              <intent-filter>
                <action android:name="com.neusoft.neespad.service.MainService" ></action>
            </intent-filter>
         </service>
        
        <receiver android:name="com.neusoft.neespad.service.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="nees.sign" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="nees.takePhoto_start" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            
             <intent-filter>
                <action android:name="nees.takePhoto_processing" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="nees.takePhotoCompleted" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="nees.look_protocal" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="nees.back_home" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="nees.big_surface" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>  
            
            <intent-filter>
                <action android:name="nees.small_surface" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="nees.take_big_photo_processing" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="nees.look_report" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            
             <intent-filter>
                <action android:name="nees.take_small_photo_processing" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
